.metadata
JavaTraining/.settings
JavaTraining/bin
JavaTraining/.classpath
JavaTraining/.project
SeleniumTraining/.settings
SeleniumTraining/bin
SeleniumTraining/.classpath
SeleniumTraining/.project
SeleniumTraining/target
